body {
    overflow: hidden !important; /* Hide scrollbars */
}

p {
    color: var(--darkpurple);
}
  

.page-header {
    padding: 0vh 0vh 0.5vh 0vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(var(--bluegreen), var(--gray));
}

.page-header > .material-icons.md-48, .page-header > .material-icons.md-66 {
    margin-top:0.5vh;
    margin-right: 1vh;
    margin-left: 1vh;
    height: fit-content;
    color: white;
}

.page-header h1 {
    position: absolute;
    z-index: 1;
    top: 2vh;
}

.page-header a {
    margin-top: 1vh;
    margin-left: 1vh;
    left: 0;
    width: 100vw;
}

/* ADD SPACING TO LEFT OF BACK BUTTON */
.page-header > .material-icons.md-48 {
    margin-left: 3.5vw;
}

.material-icons.md-66 {
    color: #5F3869;
    opacity: 0.5;
}

.material-icons.md-48 {
    color: white;
}

.menu-image {
    position: absolute;
    height: 74px;
    width: 100%;
    background-image: url('/Images/menu_career_background.png');
    background-position: 0px -5vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-image img{
    width: 100%;
}

.menu-bar {
    position: absolute;
    background-image: linear-gradient(var(--bluegreen), white);
    height: 76px;
    width: 100%;
    opacity: 0.90;
}


.body-container {
    /* margin-top: -2vh; */
    height: 60vh;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}

.body-wrapper {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
}

.label-container {
    display: flex;
    flex-direction: column;
    top: 12vh;
}

.label-container h2 {
    color: #5F3869;
    padding-bottom: 0.25vh;
}

.label-container .material-icons.md-36 {
    color: #5F3869;
}

.label-image {
    margin-bottom: -1vh;
    z-index: 1;
}

.label-image img {
    width: 100%;
    padding: 0;
    border-radius: 0.8vh;
}

.label, .label2, .label3, .label4 { 
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 1vh 0;
    background-image: linear-gradient(#E7E7E7, #FFF4D9);
}

.label2 {
    padding: 0 0 0 0;
    margin-bottom: 1.1vh;
    background: linear-gradient(var(--gray), #e8cf95);
}

.label3 {
    margin-bottom: 1.1vh;
    background-image: linear-gradient(#E7E7E7, #FAFFC7);
}

.label4 {
    padding: 0 0 0 0;
    margin-bottom: 1.1vh;
    background: linear-gradient(var(--gray), #d9e274);
}

.label-substractions-top, .label-substractions-top-2 {
    position: absolute;
    right: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    z-index: 0;
    opacity: 0.5;
} 

.label-substractions-top-2 {
    right: 7vh;
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
    top: -3px;
}

.label .label-substractions-bottom, .label .label-substractions-bottom-2, .label2 .label-substractions-bottom-2, .label3 .label-substractions-bottom, .label3 .label-substractions-bottom-2, .label4 .label-substractions-bottom-2 {
    position: absolute;
    right: 5vh;
    opacity: 0.5;
    bottom: -3px;
}

.label-substractions-bottom, .label-substractions-bottom-2{
    position: absolute;
}

.label-substractions-bottom-2 img {
    width: 100px;
}

.label-title {
    position: absolute;
    top: 1.5vh;
    right: 1vh;
}

.label-title span {
    display: flex;
    flex-direction: row;
}

.label-title span h1 {
    font-size: 16px;
    color: #5F3869;
}

.label-title span img {
    width: 4.5vh;
    height: 4vh;
    margin-left: 0.7vh
}

.label-title .material-icons.md-36 {
    font-size: 20px;
}

.label-content {
    padding: 2vh 2.5vh 2vh 2.5vh;
    z-index: 1;
}

.label-content h3 {
    font-size: 28px;
    color: #5F3869;
}

.label-data {
    display: flex;
    flex-direction: row;
}

.label-data span {
    display: flex;
    flex-direction: row;
    margin-right: 0.5vh
}

.label-data div {
    margin-right: 0.5vh
}

.label-data span img {
    width: 3.5vh;
    height: 3vh;
    margin-right: 1vh
}

.label-data .material-icons.md-36 {
    font-size: 16px;
}

.label-data .time {
    margin-left: 1vh;
}

.label-description, .label-description2, .label-description3 {
    padding-top: 0.75vh;
    font-size: 14px;
}

.label-description2 {
    padding-top: 0;
}

.label-description p, .label-description2 p, .label-description3 p {
    font-size: 14px;
}

.label-description3 {
    width: 200px;
}

.label-icon2 {
    position: absolute;
    top: 2.5vh;
    right: 1vh;
}

.label-icon, .label-icon2 img {
    width: 90px;
    height: 90px;
    opacity: 0.90;
}

.label-category h2 {
    padding-top: 3vh;
    font-size: 18px;
}

/* BUGFIXES || NEGATING CSS FROM STYLE.CSS */
.label > .label-content > h2, p {
    display: block;
    width: auto;
}

.label-content {
    width: auto;
}

.label-data {
    justify-content: space-between;
    font-size: 0.9em;
}

#bookmark {
    cursor: pointer;
}