.page-header {
    background: linear-gradient(var(--green), var(--gray));
}

.filter-wrapper {
    justify-content: space-between;
}

#filter-alles {
    background-color: var(--darkpurple);
}

.filter-wrapper > div {
    font-size: 14px;
    width: fit-content;
    font-weight: 700;
    color: white;

    padding: 0.7vh 3vh 0.7vh 3vh;
    border-radius: 0.5vh;
    background-color: var(--lightpurple);
}



/* FIX THIS GLOBALLY */
.material-icons.md-48 {
    margin-left: 3.5vw;
}