body {
    overflow-x: hidden;
    height: 100vh;
    background-color: violet;
}

h5 {
    color: var(--darkpurple);
    font-weight: 700;
    font-size: 40px;
}

.white-corner {
    display: flex;
    position: absolute;
    height: 20em;
    width: 20em;
    background-color: violet;
    transform: rotate(45deg);
    top: -200px;
    right: -220px;
    z-index: 1;
}

.body-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ebebeb;
    overflow-y: hidden;
}

.body-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
    background-image: url('/Images/backgroundIndex.jpg');
    background-repeat: no-repeat;
    background-position: left 19.5% top 25%;
    background-size: cover;
  }

.body-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
}

.logo-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 3.5vh;
    z-index: 2;
}

.logo-text-wrapper {
    margin-bottom: 1vh;
    margin-right: 2vh;
}

.logo-subtitle {
    display: flex;
    flex-direction: row;
}

.logo-subtitle > p {
    font-size: 105%;
    font-weight: 700;
}

.blue-text {
    color: var(--blue);
}

.purple-text {
    color: var(--darkpurple)
}

.logo {
    width: 6em;
    height: 6em;
    padding-bottom: 0.3em;
    z-index: 2;
}

.shape-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.shape-small {
    position: fixed;
    top: 90px;
    left: -75px;
    width: 162px;
    height: 201px;

}

.shape-large {
    position: fixed;
    top: 397px;
    right: -180px;
    width: 412px;
    height: 512px;
}

.product-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 17.5vh;
    margin-bottom: 10vh;
    height: 25vh;
    z-index: 2;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-image: linear-gradient(var(--bluegreen), #c9e5e1e7);
}

.product-wrapper > h5, p {
    color: white;
}

.product-wrapper > h5 {
    font-size: 30px;
    font-weight: 700;
}

.product-wrapper > p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3.5px;
}

.login-container {
    position: relative;
    height: 10vh;
    z-index: 5;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username-wrapper, .password-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2.25vh;
    margin-bottom: 2.25vh;

    align-items: center;

    height: 5vh;
    background-color: white;
    border-radius: 5vh;
}

.login-wrapper > .password-wrapper > .material-icons.md-28 {
    margin-left: 0.75vh;
    margin-right: 0.25vh;
    color: var(--darkpurple);
}

.login-wrapper > .username-wrapper > .material-icons.md-28 {
    margin-left: 0.75vh;
    margin-right: 0.25vh;
    color: var(--darkpurple);
}

#password-visibility {
    right: 1vh;
    position: absolute;
}

.username-field, .password-field {
    padding-left: 0.75vh;
    padding-right: 1.8vh;
    height: 95%;
    width: 100%;
    color: var(--darkpurple);
    font-weight: 600;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 0vh 5vh 5vh 0vh;
    background: none
}

span#myPassword {
    right: 3vh;
    position: absolute;
}

.button-guest, .button-member {
    padding: 1vh 2.5vh 1vh 2.5vh;
    color: white;
    border-radius: 0.5vh;
    font-weight: 700;
    font-size: 19px;
    border: none;
    outline: none;
}

.button-member {
    background-color: var(--darkpurple);
    padding-right: 4vh;
    padding-left: 4vh;
}

.button-guest {
    background-color: var(--blue)
}

#password-visibility {
    cursor: pointer;
}

/* BUGFIXES || NEGATING CSS FROM STYLE.CSS */
.label > .label-content > h2, p {
    display: block;
    width: auto;
}

.label-content {
    width: auto;
}


