nav {
    position:fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #5F3869;
}
ul
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}