
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root {
    --darkpurple: #5F3869;
    --lightpurple: #B08BB9;
    --blue: #78BDDE;
    --green: #D1E02B;
    --bluegreen: #48A89B;
    --orange: #E9C165;
    --gray: #E7E7E7;
    --white: #FFFFFF;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-66 { font-size: 66px; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


body {
    line-height:1;
    font-family: 'Poppins', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: var(--white);   
}

/* Header title */
h1 {}

/* Label title */
h2 {
    font-weight: 700; 
    font-size: 1.65em;
    margin-bottom: 0.5vh;
}

/* Function/course title */
h3 {}

p {
    font-weight: 400;
    font-size: 0.9em;
}