body {
    overflow: hidden !important; /* Hide scrollbars */
  }

.page-header {
    padding: 0vh 0vh 0.5vh 0vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background-color: var(--bluegreen); */
    z-index: 1;
}

.page-header > .material-icons.md-48, .material-icons.md-66 {
    margin-top:0.5vh;
    margin-right: 1vh;
    margin-left: 1vh;
    height: fit-content;
    color: white;
    position: relative;
    z-index: 1;
}

.menu-image {
    position: absolute;
    height: 73px;
    width: 100%;
    background-image: url('/Images/menu_test_background.png');
    background-position: 0px -5vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-image img{
    width: 100%;
}

.menu-bar {
    position: absolute;
    background-image: linear-gradient(#E9C165, white);
    height: 74px;
    width: 100%;
    opacity: 0.80;
}

.page-header h1 {
    position: absolute;
    z-index: 1;
    top: 2vh;
    left: 15vh;
}

.body-container {
    /* margin-top: -2vh; */
    height: 60vh;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}

.body-wrapper {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3.5vh;
    margin-right: 3.5vh;
}

.label-container {
    /* display: flex; */
    flex-direction: column;
    top: 12vh;
    /* width: 318px; */
}

.label-container p {
    font-size: 14pt;
    color: #5F3869;
    padding-bottom: 3vh;
}

.label-category h2 {
    padding-top: 3vh;
}

.label-container h2 {
    color: #5F3869;
    font-size: 18pt;
}

.label { 
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 3vh 0;
    background-image: linear-gradient(#E7E7E7, #EBD9FF);
    width: 100%;
    height: 104px;
} 

.label2 { 
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 3vh 0;
    background-image: linear-gradient(#E7E7E7, #EBD9FF);
    width: 100%;
    height: 176px;
} 

.label3 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 3vh 0;
    background-image: linear-gradient(#E7E7E7, #FFF4D9);
    width: 100%;
    height: 104px;
    margin-bottom: 1.1vh;
    
}

.label-content {
    padding: 2vh 2.5vh 2vh 2.5vh;
    z-index: 1;
}

.zelftest-title h1 {
    position: absolute;
    top: 5.5vh;
    right: 2vh;
    font-size: 28pt;
    color: #5F3869;
}

.zelftestvragen-title h1, .zelftestresultaat-title h1 {
    font-size: 28pt;
    padding-top: 1vh;
    color: #5F3869;
}

.label-content h3 {
    font-size: 28pt;
    color: #5F3869;
}

.material-icons.md-66 {
    color: #5F3869;
    opacity: 0.5;
}

.label-icon {
    position: absolute;
    top: 3vh;
    left: 0vh;
}

.label-icon img {
    width: 45px;
    height: 45px;
}

.label-icon2 {
    position: absolute;
    top: 4vh;
    right: 2.5vh;
}

.label-icon, .label-icon2 img {
    width: 65px;
    height: 65px;
}

.label-icon3 {
    position: absolute;
    top: 2.5vh;
    right: 1vh;
}

.label-icon3 img {
    width: 90px;
    height: 90px;
    opacity: 0.90;
}

.label .label-substractions-bottom, .label2 .label-substractions-bottom, .label3 .label-substractions-bottom  {
    position: absolute;
    right: 5vh;
    opacity: 0.5;
}

.label-substractions-bottom{
    position: absolute;
    bottom: 0;
}

.label-substractions-bottom img{
    width: 125px;
}

.label-data, .label-data2 {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
}

.label-data span, .label-data2 span {
    display: flex;
    flex-direction: row;
    margin-right: 0.5vh
}

.label-data p, .label-data2 p {
    font-size: 14pt;
}

.label-data2 {
    width: 200px;
}

.label-description {
    padding-top: 0.75vh;
    font-size: 14pt;
}

.answers-container {
    display: block;
    position: relative;
    padding: 1.5vh 0 1.5vh 5vh;
    margin-bottom: 1.25vh;
    cursor: pointer;
    font-size: 14pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #5F3869;
    border-radius: 1vh;
    color: #fff;
}

/* Verberg het standaard keuzerondje van de browser */
.answers-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Maak een aangepast keuzerondje */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.75vh 0 2vh 0.5vh;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
}

/* Voeg bij mouse-over een grijze achtergrondkleur toe */
.answers-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Voeg een blauwe achtergrond toe als het keuzerondje is aangevinkt */
.answers-container input:checked ~ .checkmark {
    background-color: #fff;
}

/* Maak de indicator (de stip / cirkel - verborgen indien niet aangevinkt) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Toon de indicator (punt / cirkel) indien aangevinkt */
.answers-container input:checked ~ .checkmark:after {
    display: block;
}

/* Stijl de indicator (punt / cirkel) */
.answers-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #5F3869;
}

.counter {
    position: absolute;
    right: 0;
    font-size: 17pt;
    color: #E9C165;
}

.button {
    position: absolute;
    bottom: 15vh;
    right: 0;
}

.button button {
    background: #5F3869;
    color: #fff;
    border-radius: 1vh;
    padding: 1vh 2vh;
    font-size: 20pt;
    font-weight: bold;
}

/* BUGFIXES || NEGATING CSS FROM STYLE.CSS */
.label > .label-content > h2, p {
    display: block;
    width: auto;
}

.label-content {
    width: auto;
}







