.page-header {
    background: linear-gradient(var(--blue), var(--gray));
}

.filter-wrapper {
    justify-content: space-between;
}

#filter-alles {
    background-color: var(--darkpurple);
}

.filter-wrapper > div {
    font-size: 14px;
    width: fit-content;
    font-weight: 700;
    color: white;

    padding: 0.7vh 1.2vh 0.7vh 1.2vh;
    border-radius: 0.5vh;
    background-color: var(--lightpurple);
}